main {
    font-family: Arial;
    margin: auto;
}

nav {
    width:100%;
    height:50px;
    position:absolute;
    bottom:0px;
}

nav a{
    width:33%;
    float:left;
    text-align:center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}




/*section {
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 10px;
    padding: 20px 30px 20px 20px;
}

#search button {
    float: right;
}

#search input[type=text] {
    width: 300px;
}

#list > button {
    font-size: large;
    cursor: pointer;
    float: right;
    border: none;
    background-color: white;
}*/